html, body {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
padding: 0;
background-image: url("https://images.pexels.com/photos/115553/pexels-photo-115553.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
background-size: cover;
background-position: center;
background-attachment: fixed;
}

.box{
position: fixed;
width: 100%;
height: 10%;
left: 0px;
top: 0px;

background: rgba(125, 125, 125);
z-index: 1;
}

h1{
  z-index: 1;
position: fixed;
left: 20px;
top: -35px;
font-family: 'Zen Antique';
font-style: normal;
font-weight: 400;
font-size: clamp(0px, 4vw,54px);
line-height: 93px;

color: #FFFFFF;
}

h2 {
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translateX(-50%);
    text-align: center;
    font-family: 'Zen Antique';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(10px, 3vw,48px);
    line-height: 70px;
    color: #FFFFFF;
    z-index: 0;
}
h3{
    position: absolute;
    left: 50%;
    top: 22%;
    transform: translateX(-50%);
    text-align: center;
    font-family: 'Zen Antique';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(8px, 2vw,20px);
    line-height: 20px;
    color: #FFFFFF;

}


p{
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    text-align:justify;
    font-family: 'Zen Antique';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    font-size: clamp(10px, 3vw,25px);
    line-height: 30px;
    color: #FFFFFF;
    cursor: pointer;
}

.menu-bar {
    position: fixed;
    top: 15px;
    right: 10px;
    z-index: 1;
  }
  
  .menu-item {
    display: inline-block;
    border: none;
    margin-right: 20px;
    color: #FFFFFF;
    background-color: transparent;
    font-family: 'Zen Antique';
    font-style: normal;
    font-size: clamp(10px, 3vw,38px);
    line-height: 60px;
    text-decoration: none;
    z-index: 1;
  }
  .menu-item:hover{
    border-bottom: 1px solid #fff;
  }

  button{
    border: none;
    letter-spacing: 5px;
    cursor: pointer;
  }

  .confirmar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 160vh;
    margin-bottom: 40px;
    width: 200px;
    height: 50px;
    text-decoration: none;
    outline: none;
}

.section p:hover{
    filter: drop-shadow(0 0 20px #000000
    );
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}








  
  
  
  
  