{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/contato.css'%}">
    <script src="https://kit.fontawesome.com/a408375707.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Contato</title>
</head>
<body>
    <header>
        <div class="box"></div>
        <h1>Daily News</h1>

        <nav class="menu-bar">
            <a href="{% url 'inicio' %}" class="menu-item" style="outline: none;">Início</a>
            <a href="{% url 'noticia' %}" class="menu-item" style="outline: none;">Noticia</a>
            <a href="{% url 'cadastro' %}" class="menu-item" style="outline: none;">Registro</a>
            <a href="{% url 'contato' %}" class="menu-item" style="outline: none;">Contato</a>
        </nav>
    </header>


    <main>
        <section id = "sobre-section">  
            <i class="fa-solid fa-phone image"> LIGUE PARA NÓS</i> 
            <p>(88) 8863-1845</p>
            <i class="fa-solid fa-location-dot image"> LOCALIZAÇÃO</i>
            <p>R. Alfredo Lustosa Cabral, s/n - Salgadinho, Patos - PB, 58706-550</p>
            <i class="fa-solid fa-envelope image"> EMAIL</i>
            <p>dadosclimaticos.uepb@gmail.com</p>
        </section>
    </main>
</body>
</html>