{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/inicio.css'%}">
    <script src="inicio.js"></script>
    <title>Inicio</title>
</head>
<body>
    <header>
        <div class="box"></div>
        <h1>Daily News</h1>

        <nav class="menu-bar">
            <a href="{% url 'inicio' %}" class="menu-item" style="outline: none;">Início</a>
            <a href="{% url 'noticia' %}" class="menu-item" style="outline: none;">Noticia</a>
            <a href="{% url 'cadastro' %}" class="menu-item" style="outline: none;">Registro</a>
            <a href="{% url 'contato' %}" class="menu-item" style="outline: none;">Contato</a>
        </nav>
    </header>
    <main>
        <section id = "sobre-section">
            <h2>Seja bem vindo</h2>

        </section>
        
        <div class="section">
            <img src="{% static 'img/equipe.png' %}" alt="Exemplo de imagem">
            <h3>Nossa equipe sempre busca proporcionar a melhor experiência para o usuário</h3>
            <p>Aqui, estamos comprometidos em oferecer a melhor experiência possível para os nossos usuários. <br>
            <br>Trabalhamos arduamente para criar produtos e serviços que sejam intuitivos, funcionais e eficientes. <br>
            <br>Nosso objetivo é superar as expectativas, garantindo que cada interação seja satisfatória e memorável. <br>
            <br>Com uma equipe dedicada e apaixonada, estamos sempre em busca de aprimorar e inovar, tornando a experiência do usuário algo extraordinário.</p>
        </div>
        <div class="section">
            <img src="{% static 'img/news.png' %}" alt="Exemplo de imagem">
            <h3>Saiba sobre os principais acontecimentos no mundo da tecnologia</h3>
            <p>Fique informado sobre os lançamentos de produtos mais recentes, as últimas tendências em inovação, as conquistas e os desafios enfrentados pelas empresas de tecnologia.<br><br> Nosso objetivo é mantê-lo informado sobre todos os avanços e mudanças que estão moldando o cenário tecnológico atual. <br><br>Esteja preparado para absorver conhecimento, inspirar-se e participar das discussões sobre as mais recentes inovações que estão impulsionando a sociedade para o futuro.</p>
        </div>
        <div class="section">
            <img src="{% static 'img/cell.png' %}" alt="Exemplo de imagem">
            <h3>Receba notícias sobre tecnologia diretamente em seu e-mail</h3>
            <p>Mantenha-se atualizado sobre as últimas novidades e tendências no mundo da tecnologia!<br><br> Oferecemos um serviço exclusivo de envio de notícias diretamente para o seu e-mail.<br><br> Receba informações relevantes, artigos interessantes, análises de especialistas e atualizações sobre os avanços tecnológicos mais recentes. <br><br>Com apenas um cadastro, você estará conectado a uma fonte confiável de informações, permitindo que você esteja sempre à frente no universo da tecnologia.</p>
        </div>
    </main>
    <footer>
        <div class="footer-container">
        <section id = "sobre">  
            <i class="fa-solid fa-phone image"> LIGUE PARA NÓS</i> 
            <p>(88) 8863-1845</p>
            <i class="fa-solid fa-envelope image"> Para mais informações,acesse Contato</i>
            <p></p>
        </section>
        </div>
    </footer>
</body>
</html>
