{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/noticia.css'%}">
    <title>Notícias</title>
</head>
<body>
    <header>
        <div class="box"></div>
        <h1>Daily News</h1>

        <nav class="menu-bar">
            <a href="{% url 'inicio' %}" class="menu-item" style="outline: none;">Início</a>
            <a href="{% url 'noticia' %}" class="menu-item" style="outline: none;">Noticia</a>
            <a href="{% url 'cadastro' %}" class="menu-item" style="outline: none;">Registro</a>
            <a href="{% url 'contato' %}" class="menu-item" style="outline: none;">Contato</a>
        </nav>
    </header>

    <section>
        <section id = "sobre-section">
            <h2>Notícias</h2>
        </section>
    </section>

    <main>

        <section class="noticia">
            <h3>Autor: G1</h2>
            <img src="https://s2-g1.glbimg.com/9MYsT53CGzlqcOPZ-6NmVyl5SWI=/0x0:640x480/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2023/Z/Z/IisZXzQAOk8QQ7V4p0tQ/347259922-574563124780675-3633324466888875635-n.jpg" alt="Imagem 1">
            <h4>Título: Membro de equipe técnica de Lana Del Rey diz ter tido celular roubado no Rio e xinga brasileiros em post - G1</h4>
            <a href="https://news.google.com/rss/articles/CBMinwFodHRwczovL2cxLmdsb2JvLmNvbS9wb3AtYXJ0ZS9ub3RpY2lhLzIwMjMvMDUvMzEvbWVtYnJvLWRlLWVxdWlwZS10ZWNuaWNhLWRlLWxhbmEtZGVsLXJleS1kaXotdGVyLXRpZG8tY2VsdWxhci1yb3ViYWRvLW5vLXJpby1lLXhpbmdhLWJyYXNpbGVpcm9zLWVtLXBvc3QuZ2h0bWzSAaoBaHR0cHM6Ly9nMS5nbG9iby5jb20vZ29vZ2xlL2FtcC9wb3AtYXJ0ZS9ub3RpY2lhLzIwMjMvMDUvMzEvbWVtYnJvLWRlLWVxdWlwZS10ZWNuaWNhLWRlLWxhbmEtZGVsLXJleS1kaXotdGVyLXRpZG8tY2VsdWxhci1yb3ViYWRvLW5vLXJpby1lLXhpbmdhLWJyYXNpbGVpcm9zLWVtLXBvc3QuZ2h0bWw?oc=5">Leia mais</a>
        </section>
    
        <section class="noticia">
            <h3>Autor: TudoCelular.com</h2>
            <img src="https://t2.tudocdn.net/613046?w=646&h=284" alt="Imagem 2">
            <h4>Título: Vai bater o A17 Bionic? Dimensity 9300 pode superar chip da Apple e ter 4 núcleos Cortex-X4 - TudoCelular.com</h4>
            <a href="https://news.google.com/rss/articles/CBMiYmh0dHBzOi8vd3d3LnR1ZG9jZWx1bGFyLmNvbS9hcHBsZS9ub3RpY2lhcy9uMjA2ODc0L2RpbWVuc2l0eS05MzAwLXN1cGVyYXItYXBwbGUtYTE3LWNvcnRleC14NC5odG1s0gEA?oc=5">Leia mais</a>
        </section>
    
        <section class="noticia">
            <h3>Autor: InfoMoney</h2>
            <img src="https://image.cnbcfm.com/api/v1/image/107230869-1682446793111-FLAT_CryptoQuiz_V1_1.png?v=1682689624&w=929&h=523&vtcrop=y" alt="Imagem 3">
            <h4>Título: Investidor admite apelar para ocultação de patrimônio em cripto para escapar de nova tributação no exterior - InfoMoney</h4>            <a href="https://news.google.com/rss/articles/CBMikgFodHRwczovL3d3dy5pbmZvbW9uZXkuY29tLmJyL21lcmNhZG9zL2ludmVzdGlkb3ItYWRtaXRlLWFwZWxhci1wYXJhLW9jdWx0YWNhby1kZS1wYXRyaW1vbmlvLWVtLWNyaXB0by1wYXJhLWVzY2FwYXItZGUtbm92YS10cmlidXRhY2FvLW5vLWV4dGVyaW9yL9IBlgFodHRwczovL3d3dy5pbmZvbW9uZXkuY29tLmJyL21lcmNhZG9zL2ludmVzdGlkb3ItYWRtaXRlLWFwZWxhci1wYXJhLW9jdWx0YWNhby1kZS1wYXRyaW1vbmlvLWVtLWNyaXB0by1wYXJhLWVzY2FwYXItZGUtbm92YS10cmlidXRhY2FvLW5vLWV4dGVyaW9yL2FtcC8?oc=5">Leia mais</a>
        </section>
    </main>
</body>
</html>